NODE_ENV=production
MONGO_URI=mongodb+srv://KULLANICI:SIFRE@cluster-adresi/universite_yorum?retryWrites=true&w=majority
SESSION_SECRET=buraya-cok-uzun-rastgele-bir-gizli-anahtar-yaz
ADMIN_PASSWORD=buraya-guclu-admin-sifresi-yaz
